a {
  text-decoration: none;
}

/* use the variables */
.main-header {
  background-color: #2ad5eb;
}

.menu-left {
  background-color: #b2ad7f;
}

.menu-right {
  background-color: #878f99;
}

.heroWorkingScreen {
  background: linear-gradient(rgba(12, 12, 12, 0.479), rgba(12, 12, 12, 0.479)), url(../images/backgrounds/working_so_hard.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

.heroIndexScreen {
  background: linear-gradient(rgba(12, 12, 12, 0.479), rgba(12, 12, 12, 0.479)), url(../images/backgrounds/bg_kiro.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

.heroProductsScreen {
  background: linear-gradient(rgba(12, 12, 12, 0.479), rgba(12, 12, 12, 0.479)), url(../images/backgrounds/bg_productos.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

.heroNosotrosScreen {
  background: linear-gradient(rgba(12, 12, 12, 0.479), rgba(12, 12, 12, 0.479)), url(../images/backgrounds/bg_bebas.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.heroSucursalesScreen {
  background: linear-gradient(rgba(12, 12, 12, 0.479), rgba(12, 12, 12, 0.479)), url(../images/backgrounds/working_so_hard.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.heroAmbassadorScreen {
  background: linear-gradient(rgba(12, 12, 12, 0.479), rgba(12, 12, 12, 0.479)), url(../images/backgrounds/bg1_ash.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

.mainText {
  height: 80vh;
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}

/**
* Buttons Section
*/
.mpk_button {
  margin: 0 2px 10px 0;
  color: white;
  background-color: #529e91;
  border-radius: 20%/50%;
  padding: 10px 15px 10px 15px;
  border-style: solid;
  border-color: #acfa74;
}
.mpk_button:hover {
  color: white;
  background-color: gray;
  border-color: rgb(176, 231, 204);
  border-width: 5px;
}

.btnSection {
  text-align: center;
  padding-bottom: 15px;
}

/**
* Image Controllers
*/
.mpk_img_size {
  width: 500px;
  height: 500px;
}

.mpk_img_nosotros {
  width: 250px;
  height: 250px;
}

/**
* Configuration Section
*/
.section_padding {
  padding-top: 90px;
}

.bg_dark {
  background-color: #212529;
}
.bg_dark div {
  background-color: #212529;
}

.bg_gray {
  background-color: #f0f0f0;
}
.bg_gray div {
  background-color: #f0f0f0;
}

.mpk_link_color {
  color: #5fd3f3;
}
.mpk_link_color a {
  color: #5fd3f3;
}
.mpk_link_color a:hover {
  color: #683e68;
}

/**
Animation Section
*/
/*
    Menu Underline
*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scale(0);
  bottom: 0;
  left: 0;
  background-color: #00c3ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*
    Text SlideDown
*/
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*
    Text FadeIn
*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*
    Slide Appear
*/
@media only screen and (max-width: 500px) {
  .image_responsive {
    width: 80%;
    height: 80%;
  }
  .frame_responsive {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
