#Ignore Node Modules
node_modules

#Ignore mockups
mockups

#Ignore package-lock.json and package.json
package-lock.json
package.json

#Ignore vscode
.vscode
.eslintrc.json
node_modules/.package-lock.json
node_modules/.package-lock.json
node_modules/.package-lock.json
package-lock.json
package.json
